[Unit]
Description=MiniDLNA service
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/minidlnad -S
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
